<p>
  <strong>First name :</strong>
  <%= @person.first_name %>
</p>
 
<p>
  <strong>Last name:</strong>
  <%= @person.last_name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @person.gender %>
</p>
 
<%= link_to 'All People', people_path %>

